.copyright {
    text-align: left;
    color: white;
    font-size: large;
}

.btop {
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: large;
}

#ffooter {
    align-items: center;
    background: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    clear: both;
    height: 80px;
}

// @media screen and (min-width: 450px) {
//     #ffooter {
//         margin-top: 100px;
//     }
// }

// @media screen and (min-width: 900px) {
//     #ffooter {
//         margin-top: 200px;
//     }
// }