* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color:#e9ecef;
    border-radius: .3rem;
    justify-content: center;
    margin: 10px
}

@media screen and (min-width:576px) {
    .jumbotron {
        padding: 4rem 2rem;
    } 
}